@import "reset.scss";
@import "font.scss";
@import "grid.scss";
$primary-color : #000000;
$secondary-color : #FFFFFF;
$violet: #a24694;
$sun: #d3da2b;
$blue_ice: #8c8faf;
$turquoise: #00807d;
$hell: #e94c4c;
$cream: #f2dfbb;
$hell1 : #e74d50;

/*Source Image*/
.p1{background-image: url('../asset/images/1.jpg');}
.p2{background-image: url('../asset/images/2.jpg');}
.p3{background-image: url('../asset/images/3.jpg');}
.p4{background-image: url('../asset/images/4.jpg');}
.p5{background-image: url('../asset/images/5.jpg');}
.p6{background-image: url('../asset/images/6.jpg');}
.p7{background-image: url('../asset/images/7.jpg');}
.p8{background-image: url('../asset/images/8.jpg');}
.p9{background-image: url('../asset/images/9.jpg');}


/*
  header + navbar
**/
#wrappers{
  overflow-x: hidden;
}
nav{
  display: none;
  position: fixed;
  background-color: $primary-color;
  color: $secondary-color;
  width: 100%;
  .inner_nav{
    height: 50px;
    padding: 5px 14px;
    display: block;
    .logo_container{
      display: inline-block;
      float: left;
      img{
        width: 42px;
        height: 42px;
      }
    }
    .navbar{
      display: inline-block;
      float: left;
      #menu{
        li{
          display: inline;
          list-style: none;
          line-height: 32px;
          a{
            text-transform: uppercase;
            font-size: 10px;
            text-decoration: none;
            &:hover{
              color: $hell1;
            }
          }
        }
      }
      .social{
        &:hover{
          color: $hell1;
        }
      }
    }
  }
}
#intro, #experiences, #artistes, #partner{
  height: 100%
}
#intro{
  .container{
    .inner_container{
      margin: 0 auto;
      display: table;
      width: 85%;
      .block_content{
      }
    }
  }
}
.block_logo{
  display: table;
  margin:{
    top: 25px;
    bottom: 60px;
    right:auto;
    left:auto;
  }
  img{
    width: 80px;
    height: 80px;
  }
}
.block_title{
  width: 100%;
  margin:{
    top:120px;
    bottom:160px;
  }
  .rooms{
    background-image: url("../asset/images/29rooms-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: auto;
    height: 200px;
  }
}
.block_playIt{
  display: table;
  margin: 0 auto;
  .illustration{
    text-align: center;
    img{
      width: 70px;
      height: 70px;
    }
  }
  .content{
    span{
      display: block;
      text-transform: uppercase;
      margin-top: 23px;
      margin-bottom: 27px;
      font-size: 12px;
    }
  }
}
.next{
  display: table;
  margin: 0 auto;
  img{
    width: 30px;
  }
}
/////experiences
///////

#experiences_true{
  padding-top:1px;
  background-color: #F6ECDB;
  .inner_container{
      width: 73.5%;
  }
  .block_title_exp{
    h1{
      text-transform: uppercase;
      margin: 74px 0;
      font-size: 20px;
      letter-spacing: 0.4em;

    }
  }
  .last_project{
    //width: 80%;
    margin-bottom: 35px;
    .preview{
      height: 540px;
      width: 100%;
      background-image: url('../asset/images/virtual-screen.jpg');
      background-size: contain;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
}
///////
#experiences{

  padding-top: 1px;
  color: white;
  .space{
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
    background-image: url('../asset/images/space-bg.png');
    animation-name: space;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: normal;
  }
  .container{
    padding-top: 36px;
  }
  .inner_container{
  //  margin-top: 36px;
    position: relative;
    height: 100%;
  }
}
@keyframes space {
  to{
    background-position-x: -1279px;
  }
  from{
    background-position-x: 0px;
  }
}
.top_block{
  width: 100%;
  height: 50px;
  display: block;
  font-size: 15px;
  line-height: 50px;
  margin-bottom: 74px;;
  .lt{
    span{
      color: $hell;
    }
  }
  rt{
    span{
      color:$violet;
    }
  }
  &:before,:after{
    content:'';
    display: table;
    clear: both;
  }
  &:after{
    content:'';
  }

}

.middle_block{
  width: 90%;
  padding: 20px;
  h4{
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
    font-size: 13px;
    color: $cream;
  }
  h1{
    color: $cream;
    letter-spacing: 5px;
    font-size: 43px;
  }
  p{
    font-size: 17px;
    margin: 20px;
    padding: 10px;
    color: $cream;
  }
  span{
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    color: $hell1;
  }
}

.bottom_block{
  position: absolute;
  bottom: 36px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: block;
  margin-bottom: 36px;
  .lb{
    span{
      color: $blue_ice;
    }
  }
  .rb{
    span{
      color: $turquoise;
    }
  }
}

///
.itemIllustration{
  .block_illus{
    .pic{
    }
    .link{
      .blleft{
        a{

        }
      }
    }
      .blright{
        span{

        }
      }
  }
  .block_desc{
    span{

    }
  }
}

.upp{
  text-transform: uppercase;
}
.left{
  display: inline-block;
  float: left;
}
.right{
  display: inline;
  float: right;
}
.container{

}
.center_block{
  margin: 0 auto;
}
.center_text{
  text-align: center;
}
.inner_container{
  //min-width: 720px;
  width: 80%;
  display: block;
  margin: 0 auto;
}

//section
#artiste, #partner{
  height: auto;
  background-image: url('../asset/images/space-bg.png');
  animation-name: space;
  animation-name: space;
  animation-duration: 80s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction: normal;
  .inner_container{
    width: 100%;
    font-family: 'Brown';
    font-size: 26px;
    text-transform: uppercase;
    .block{
      h1{
        font-size: 20px;
        // font-family:'Brown';
        color: $cream;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.4em;
      }
    }
    .list{
      .listartiste{
        margin: 0 auto;
        width: 100%;
        max-width: 1000px;
        li{
          vertical-align: middle;
          width: 49%;
          line-height: 1.8em;
          text-align: center;
          padding: 30px 10px;
          list-style: none;
          display: inline-block;
          &:nth-child(1){
            color: $blue_ice;
          }
          &:nth-child(3n+2){
            color: $hell;
          }
          &:nth-child(3n+4){
            color: $blue_ice;
          }
          &:nth-child(3n+3){
            color: $violet;
          }
          a{
            font-weight: normal;
            color: inherit;
            letter-spacing: 0.2em;

            span{
              border-bottom: 1px solid inherit;
            }
          }
        }
      }
    }
  }
}
.pt{
  position: relative;
  padding-top: 120px;
  &:before{
    content:'';
    background-image: url('../asset/images/girl-1.png');
    background-size: contain;
    position: absolute;
    top: 0;
    right: -120px;
    width: 400px;
    height: 435px;
  }
  .block{
    margin-top: 20px;
    margin-bottom: 50px;
    h1{
      margin: 20px 0;
    }
  }
}
#partner{
  padding: 60px 10px;
  position: relative;
  &:before{
    content:'';
    position: absolute;
    top: -100px;
    left: -50px;
    background-image:url('../asset/images/hand-purple-l.png');
    height: 354px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .inner_container{
    border-bottom: 1px solid $cream;
    width: 94%;
    text-align: center;
    h1{
      color: $cream;
      font-size: 20px;
      letter-spacing: 8px;
      margin: 40px 0;
    }
    .partner_block{
      width: 100%;
      display: block;
      li{
        display: inline-block;
        text-align: center;
        width: 16%;
        &:last-child{
          width: 25%;
        }
        img{
          width: 100%;
        }
      }
    }
  }
}
.p{
  padding-bottom: 1;
}
footer{
  .container{
    position: relative;
    .inner_container{
      border: none!important;
      padding-top: 24px;
      color: $cream;
      text-transform:uppercase;
      .title{
        p{
          font-weight: bold;
          letter-spacing: 0.4em;
          font-size: 20px;
          padding: 15px;
        }
      }
      .end_block{
        .social_block{
          margin-bottom: 15px;
          margin-bottom: 10px;
          i{
            //font-size: 14px;
            padding: 10px;
          }
        }
        img{
          width: 60px;
          height: auto;
        }
      }
    }
  }
}
.girl{
  position: absolute;
  width: 471px;
  height: 346px;
  background-repeat: no-repeat;
  bottom: -59px;
  right: -10px;
  background-image: url('../asset/images/girl-3.png');
}
#experiences_true{
  .container{
    position:relative;
    &:after{
      content:'';
      position: absolute;
      width: 100%;
      height: 100px;
      background-repeat: no-repeat;
      background-size: contain;
      background-size: 100% 100%;
      bottom: -100px;
      right: -2px;
      background-image: url('../asset/images/divider-beige.png');
    }
  }
}



.itemText{
  position: relative;
  margin: 15px 0px;
  color: $cream;
  .block{
    padding: 20px;
    background-color: $violet;
    p{
      margin: 30px 0;
      font-size: 18px;
      font-weight: 200;
      letter-spacing: 0.1em;
      line-height: 1.4em;
    }
    .author{
      span{
        text-align: right;
        line-height: 1.4em;
        font-size: 14px;
        letter-spacing: 0.1em;
        font-weight: 200;
      }
    }
    .categorie{
      span{
        font-size: 14px;
        letter-spacing: 0.1em;
        line-height: 1.4em;
        text-decoration: underline;
        font-weight: 200;
      }
    }
  }
}

.itemIllustration{
  position: relative;
  font-weight: 200;
  margin: 15px 0px;
  color: $cream;
  .block{
    background-color: $hell;
    //padding: 20px;
    .block_illus{
      display: block;
      padding: 10px;
      width: 100%;
      height: auto;
      //display: block;
      img{
        height: auto;
        width: 100%;
      }
      .link{
        width: 100%;
        font-size: 14px;
        letter-spacing: 0.1em;
        line-height: 1.4em;
        display: block;
        .blright,.blleft{
          width: 49%;
          padding: 10px 20px 20px 20px;
          display: inline-block;
          a{
            color:inherit;
          }
          //float: left;
        }

      }
    }
    .block_desc{
      border-top: 2px solid;
      padding: 20px;
      span{
        font-size: 12px;
        letter-spacing: 0.1em;
        line-height: 1.4em;
      }
    }
  }
}
