html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Brown';
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol, p {
  padding: 0;
  margin: 0;
}

span {
  display: block;
}

@font-face {
  font-family: 'Brown';
  src: url("../../public/font/Brown-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: 'Brown-thin';
  src: url("../../public/font/Brown-Thin.otf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Brown';
  src: url("../../public/font/Brown-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Brown';
  src: url("../../public/font/Brown-Light.otf");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Brown';
  src: url("../../public/font/Brown-Thin-Italic.otf");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: 'Brown';
  src: url("../../public/font/Brown-Regular-Italic.otf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Brown';
  src: url("../../public/font/Brown-Bold-Italic.otf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Brown';
  src: url("../../public/font/Brown-Light-Italic.otf");
  font-weight: 200;
  font-style: italic;
}
.col-1 {
  width: 8.33333%;
  float: left;
  padding: 0 15px;
}

.col-2 {
  width: 16.66667%;
  float: left;
  padding: 0 15px;
}

.col-3 {
  width: 25%;
  float: left;
  padding: 0 15px;
}

.col-4 {
  width: 33.33333%;
  float: left;
  padding: 0 15px;
}

.col-5 {
  width: 41.66667%;
  float: left;
  padding: 0 15px;
}

.col-6 {
  width: 50%;
  float: left;
  padding: 0 15px;
}

.col-7 {
  width: 58.33333%;
  float: left;
  padding: 0 15px;
}

.col-8 {
  width: 66.66667%;
  float: left;
  padding: 0 15px;
}

.col-9 {
  width: 75%;
  float: left;
  padding: 0 15px;
}

.col-10 {
  width: 83.33333%;
  float: left;
  padding: 0 15px;
}

.col-11 {
  width: 91.66667%;
  float: left;
  padding: 0 15px;
}

.col-12 {
  width: 100%;
  float: left;
  padding: 0 15px;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-offset-2 {
  margin-left: 16.66667%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33333%;
}

.col-offset-5 {
  margin-left: 41.66667%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.33333%;
}

.col-offset-8 {
  margin-left: 66.66667%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.33333%;
}

.col-offset-11 {
  margin-left: 91.66667%;
}

.col-offset-12 {
  margin-left: 100%;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid:before, .container-fluid:after {
  display: table;
  margin: 15px;
}
.container-fluid:after {
  clear: both;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row:before, .row:after {
  display: table;
  content: '';
}
.row:after {
  clear: both;
}

.center-block {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.shield {
  width: 1200px;
  padding-top: 75px;
  padding-bottom: 90px;
  margin: 0 auto;
}

/*Source Image*/
.p1 {
  background-image: url("../asset/images/1.jpg");
}

.p2 {
  background-image: url("../asset/images/2.jpg");
}

.p3 {
  background-image: url("../asset/images/3.jpg");
}

.p4 {
  background-image: url("../asset/images/4.jpg");
}

.p5 {
  background-image: url("../asset/images/5.jpg");
}

.p6 {
  background-image: url("../asset/images/6.jpg");
}

.p7 {
  background-image: url("../asset/images/7.jpg");
}

.p8 {
  background-image: url("../asset/images/8.jpg");
}

.p9 {
  background-image: url("../asset/images/9.jpg");
}

/*
  header + navbar
**/
nav {
  display: none;
  position: fixed;
  background-color: #000000;
  color: #FFFFFF;
  width: 100%;
}
nav .inner_nav {
  height: 50px;
  padding: 5px 14px;
  display: block;
}
nav .inner_nav .logo_container {
  display: inline-block;
  float: left;
}
nav .inner_nav .logo_container img {
  width: 42px;
  height: 42px;
}
nav .inner_nav .navbar {
  display: inline-block;
  float: left;
}
nav .inner_nav .navbar #menu li {
  display: inline;
  list-style: none;
  line-height: 32px;
}
nav .inner_nav .navbar #menu li a {
  text-transform: uppercase;
  font-size: 10px;
  text-decoration: none;
}
nav .inner_nav .navbar #menu li a:hover {
  color: #e74d50;
}
nav .inner_nav .navbar .social:hover {
  color: #e74d50;
}

#intro, #experiences, #artistes, #partner {
  height: 100%;
}

#intro .container .inner_container {
  margin: 0 auto;
  display: table;
  width: 85%;
}

.block_logo {
  display: table;
  margin-top: 25px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}
.block_logo img {
  width: 80px;
  height: 80px;
}

.block_title {
  width: 100%;
  margin-top: 120px;
  margin-bottom: 160px;
}
.block_title .rooms {
  background-image: url("../asset/images/29rooms-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: auto;
  height: 200px;
}

.block_playIt {
  display: table;
  margin: 0 auto;
}
.block_playIt .illustration {
  text-align: center;
}
.block_playIt .illustration img {
  width: 70px;
  height: 70px;
}
.block_playIt .content span {
  display: block;
  text-transform: uppercase;
  margin-top: 23px;
  margin-bottom: 27px;
  font-size: 12px;
}

.next {
  display: table;
  margin: 0 auto;
}
.next img {
  width: 30px;
}

#experiences_true {
  padding-top: 1px;
  background-color: #F6ECDB;
}
#experiences_true .inner_container {
  width: 73.5%;
}
#experiences_true .block_title_exp h1 {
  text-transform: uppercase;
  margin: 74px 0;
  font-size: 20px;
  letter-spacing: 0.4em;
}
#experiences_true .last_project {
  margin-bottom: 35px;
}
#experiences_true .last_project .preview {
  height: 540px;
  width: 100%;
  background-image: url("../asset/images/virtual-screen.jpg");
  background-size: contain;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#experiences {
  padding-top: 1px;
  color: white;
}
#experiences .space {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
  background-image: url("../asset/images/space-bg.png");
  animation-name: space;
  animation-duration: 80s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction: normal;
}
#experiences .container {
  padding-top: 36px;
}
#experiences .inner_container {
  position: relative;
  height: 100%;
}

@keyframes space {
  to {
    background-position-x: -1279px;
  }
  from {
    background-position-x: 0px;
  }
}
.top_block {
  width: 100%;
  height: 50px;
  display: block;
  font-size: 15px;
  line-height: 50px;
  margin-bottom: 74px;
}
.top_block .lt span {
  color: #e94c4c;
}
.top_block rt span {
  color: #a24694;
}
.top_block:before, .top_block :after {
  content: '';
  display: table;
  clear: both;
}
.top_block:after {
  content: '';
}

.middle_block {
  width: 90%;
  padding: 20px;
}
.middle_block h4 {
  height: 40px;
  line-height: 40px;
  margin: 10px 0;
  font-size: 13px;
  color: #f2dfbb;
}
.middle_block h1 {
  color: #f2dfbb;
  letter-spacing: 5px;
  font-size: 43px;
}
.middle_block p {
  font-size: 17px;
  margin: 20px;
  padding: 10px;
  color: #f2dfbb;
}
.middle_block span {
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  color: #e74d50;
}

.bottom_block {
  position: absolute;
  bottom: 36px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: block;
  margin-bottom: 36px;
}
.bottom_block .lb span {
  color: #8c8faf;
}
.bottom_block .rb span {
  color: #00807d;
}

.upp {
  text-transform: uppercase;
}

.left {
  display: inline-block;
  float: left;
}

.right {
  display: inline;
  float: right;
}

.center_block {
  margin: 0 auto;
}

.center_text {
  text-align: center;
}

.inner_container {
  width: 80%;
  display: block;
  margin: 0 auto;
}

#artiste, #partner {
  height: auto;
  background-image: url("../asset/images/space-bg.png");
  animation-name: space;
  animation-name: space;
  animation-duration: 80s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction: normal;
}
#artiste .inner_container, #partner .inner_container {
  width: 100%;
  font-family: 'Brown';
  font-size: 26px;
  text-transform: uppercase;
}
#artiste .inner_container .block h1, #partner .inner_container .block h1 {
  font-size: 20px;
  color: #f2dfbb;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.4em;
}
#artiste .inner_container .list .listartiste, #partner .inner_container .list .listartiste {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}
#artiste .inner_container .list .listartiste li, #partner .inner_container .list .listartiste li {
  vertical-align: middle;
  width: 49%;
  line-height: 1.8em;
  text-align: center;
  padding: 30px 10px;
  list-style: none;
  display: inline-block;
}
#artiste .inner_container .list .listartiste li:nth-child(1), #partner .inner_container .list .listartiste li:nth-child(1) {
  color: #8c8faf;
}
#artiste .inner_container .list .listartiste li:nth-child(3n+2), #partner .inner_container .list .listartiste li:nth-child(3n+2) {
  color: #e94c4c;
}
#artiste .inner_container .list .listartiste li:nth-child(3n+4), #partner .inner_container .list .listartiste li:nth-child(3n+4) {
  color: #8c8faf;
}
#artiste .inner_container .list .listartiste li:nth-child(3n+3), #partner .inner_container .list .listartiste li:nth-child(3n+3) {
  color: #a24694;
}
#artiste .inner_container .list .listartiste li a, #partner .inner_container .list .listartiste li a {
  font-weight: normal;
  color: inherit;
  letter-spacing: 0.2em;
}
#artiste .inner_container .list .listartiste li a span, #partner .inner_container .list .listartiste li a span {
  border-bottom: 1px solid inherit;
}

.pt {
  position: relative;
  padding-top: 120px;
}
.pt:before {
  content: '';
  background-image: url("../asset/images/girl-1.png");
  background-size: contain;
  position: absolute;
  top: 0;
  right: -120px;
  width: 400px;
  height: 435px;
}
.pt .block {
  margin-top: 20px;
  margin-bottom: 50px;
}
.pt .block h1 {
  margin: 20px 0;
}

#partner {
  padding: 60px 10px;
  position: relative;
}
#partner:before {
  content: '';
  position: absolute;
  top: -100px;
  left: -50px;
  background-image: url("../asset/images/hand-purple-l.png");
  height: 354px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}
#partner .inner_container {
  border-bottom: 1px solid #f2dfbb;
  width: 94%;
  text-align: center;
}
#partner .inner_container h1 {
  color: #f2dfbb;
  font-size: 20px;
  letter-spacing: 8px;
  margin: 40px 0;
}
#partner .inner_container .partner_block {
  width: 100%;
  display: block;
}
#partner .inner_container .partner_block li {
  display: inline-block;
  text-align: center;
  width: 16%;
}
#partner .inner_container .partner_block li:last-child {
  width: 25%;
}
#partner .inner_container .partner_block li img {
  width: 100%;
}

.p {
  padding-bottom: 1;
}

footer .container {
  position: relative;
}
footer .container .inner_container {
  border: none !important;
  padding-top: 24px;
  color: #f2dfbb;
  text-transform: uppercase;
}
footer .container .inner_container .title p {
  font-weight: bold;
  letter-spacing: 0.4em;
  font-size: 20px;
  padding: 15px;
}
footer .container .inner_container .end_block .social_block {
  margin-bottom: 15px;
  margin-bottom: 10px;
}
footer .container .inner_container .end_block .social_block i {
  padding: 10px;
}
footer .container .inner_container .end_block img {
  width: 60px;
  height: auto;
}

.girl {
  position: absolute;
  width: 471px;
  height: 346px;
  background-repeat: no-repeat;
  bottom: -59px;
  right: -10px;
  background-image: url("../asset/images/girl-3.png");
}

#experiences_true .container {
  position: relative;
}
#experiences_true .container:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% 100%;
  bottom: -100px;
  right: -2px;
  background-image: url("../asset/images/divider-beige.png");
}

.itemText {
  position: relative;
  margin: 15px 0px;
  color: #f2dfbb;
}
.itemText .block {
  padding: 20px;
  background-color: #a24694;
}
.itemText .block p {
  margin: 30px 0;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.1em;
  line-height: 1.4em;
}
.itemText .block .author span {
  text-align: right;
  line-height: 1.4em;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 200;
}
.itemText .block .categorie span {
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 1.4em;
  text-decoration: underline;
  font-weight: 200;
}

.itemIllustration {
  position: relative;
  font-weight: 200;
  margin: 15px 0px;
  color: #f2dfbb;
}
.itemIllustration .block {
  background-color: #e94c4c;
}
.itemIllustration .block .block_illus {
  display: block;
  padding: 10px;
  width: 100%;
  height: auto;
}
.itemIllustration .block .block_illus img {
  height: auto;
  width: 100%;
}
.itemIllustration .block .block_illus .link {
  width: 100%;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 1.4em;
  display: block;
}
.itemIllustration .block .block_illus .link .blright, .itemIllustration .block .block_illus .link .blleft {
  width: 49%;
  padding: 10px 20px 20px 20px;
  display: inline-block;
}
.itemIllustration .block .block_illus .link .blright a, .itemIllustration .block .block_illus .link .blleft a {
  color: inherit;
}
.itemIllustration .block .block_desc {
  border-top: 2px solid;
  padding: 20px;
}
.itemIllustration .block .block_desc span {
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: 1.4em;
}

/*# sourceMappingURL=master.css.map */
