doctype5
html
  head
    meta(charset='utf8')
    meta(author='dlanorlecram')
    link(href='css/master.css', rel='stylesheet')
    link(href='css/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    script(src='../bower_components/jquery/dist/jquery.min.js')
    script(src='../bower_components/vide/dist/jquery.vide.min.js')
    script(src='../bower_components/masonry/dist/masonry.pkgd.min.js')
    script(src='script/script.js')
  body
    #wrappers
      section#intro
        nav
          .inner_nav
            .logo_container
              img(src='asset/images/refinery29-logo-mark.svg')
            .navbar
              ul#menu
                li intro
                li experiences
                li artiste
                li partner
            .social
              i.fa.fa-facebook
              i.fa.fa-twitter
        .container
          .inner_container
            .block_content
              .block_logo
                .logo
                img(src='asset/images/refinery29-logo-mark-b.svg')
              .block_title
                .rooms
              .block_playIt
                .illustration
                  img(src='asset/images/icon-video-circle.svg')
                .content
                  span  play video
              .next
                img(src='asset/images/arrow.svg')
      section#experiences
        .space
        .container
          .inner_container
            .top_block
              .lt.left.upp
                span Our World
              .rt.right.upp
                span Powered by You
            .middle_block.center_block
              .content.center_text
                h4 Thanks for joining us at our
                h1.upp
                  |ART & FASHION
                  br
                  |FUNHOUSE
                p.upp You came. You saw. You powered our dream world. Thank you for visiting 29Rooms — we still can't believe the turnout!
                span.upp See you next time
            .bottom_block
              .lb.left.upp
                span Brooklyn, NY
              .rb.right.upp
                span Open to the Public
      section#experiences_true
        .container
          .inner_container
            .block_title_exp.center_text
              h1 29Rooms Experience
            .last_project
              .preview
            .gallery.row
              //ranger 1
              .itemIllustration.col-4.grid-item
                .block
                  .block_illus
                    //.pic.p1
                    img(src='asset/images/1.jpg')
                    .link
                      .blleft
                        a(href='#') Instagram
                      .blright
                        span @rockienolan
                  .block_desc
                    span Get your glow on in @radianthuman_ room heaven with Clue 27 #29Rooms

              .itemText.col-4.grid-item
                .block
                  .categorie
                    span Twitter

                  p Last night at @Refinery29's #29rooms. Always so fun and tactile. Like a playground for grown up art lovers!

                  .author
                    span @BradWalsh

              .itemIllustration.col-4.grid-item
                .block
                  .block_illus
                    img(src='asset/images/2.jpg')
                    .link
                      .blleft
                        a(href='#') Instagram
                      .blright
                        span @rockienolan
                  .block_desc
                    span Get your glow on in @radianthuman_ room heaven with Clue 27 #29Rooms
              //ranger 2
              .itemIllustration.col-4.grid-item
                .block
                  .block_illus
                    img(src='asset/images/3.jpg')
                    .link
                      .blleft
                        a(href='#') Instagram
                      .blright
                        span @rockienolan
                  .block_desc
                    span Get your glow on in @radianthuman_ room heaven with Clue 27 #29Rooms

              .itemText.col-4.grid-item
                .block
                  .categorie
                    span Twitter

                  p Last night at @Refinery29's #29rooms. Always so fun and tactile. Like a playground for grown up art lovers!

                  .author
                    span @BradWalsh

              .itemText.col-4.grid-item
                .block
                  .categorie
                    span Twitter

                  p Last night at @Refinery29's #29rooms. Always so fun and tactile. Like a playground for grown up art lovers!

                  .author
                    span @BradWalsh

              //ranger3

              .itemIllustration.col-4.grid-item
                .block
                  .block_illus
                    img(src='asset/images/4.jpg')
                    .link
                      .blleft
                        a(href='#') Instagram
                      .blright
                        span @rockienolan
                  .block_desc
                    span Get your glow on in @radianthuman_ room heaven with Clue 27 #29Rooms

              .itemText.col-4.grid-item
                .block
                  .categorie
                    span Twitter

                  p Last night at @Refinery29's #29rooms. Always so fun and tactile. Like a playground for grown up art lovers!

                  .author
                    span @BradWalsh

              .itemIllustration.col-4.grid-item
                .block
                  .block_illus
                    img(src='asset/images/5.jpg')
                    .link
                      .blleft
                        a(href='#') Instagram
                      .blright
                        span @rockienolan
                  .block_desc
                    span Get your glow on in @radianthuman_ room heaven with Clue 27 #29Rooms

              //ranger4
              .itemIllustration.col-4.grid-item
                .block
                  .block_illus
                    img(src='asset/images/6.jpg')
                    .link
                      .blleft
                        a(href='#') Instagram
                      .blright
                        span @rockienolan
                    .block_desc
                      span Get your glow on in @radianthuman_ room heaven with Clue 27 #29Rooms

              .itemText.col-4.grid-item
                .block
                  .categorie
                    span witter

                  p Last night at @Refinery29's #29rooms. Always so fun and tactile. Like a playground for grown up art lovers!

                  .author
                    span @BradWalsh

              .itemText.col-4.grid-item
                .block
                  .categorie
                    span Twitter

                  p Last night at @Refinery29's #29rooms. Always so fun and tactile. Like a playground for grown up art lovers!

                  .author
                    span @BradWalsh

              //ranger5
              .itemIllustration.col-4.grid-item
                .block
                  .block_illus
                    img(src='asset/images/7.jpg')
                    .link
                      .blleft
                        a(href='#') Instagram
                      .blright
                        span @rockienolan
                  .block_desc
                    span This room is poppin'! A bubble-iscious wonderland at #29Rooms with @perrierusa #extraordinaireperrier @brooklynballooncompany

              .itemIllustration.col-4.grid-item
                .block
                  .block_illus
                    img(src='asset/images/8.jpg')
                    .link
                      .blleft
                        a(href='#') Instagram
                      .blright
                        span @rockienolan
                  .block_desc
                    span The first day's a wrap and we've got only two days left. For now, here's Clue 25 aka us being one with the soothing and v chill vibes of our @lonelywhale room by @eloisecorrdanchstudio.

              .itemIllustration.col-4.grid-item
                .block
                  .block_illus
                    img(src='asset/images/9.jpg')
                    .link
                      .blleft
                        a(href='#') Instagram
                      .blright
                        span @rockienolan
                  .block_desc
                    span Clue 24: #29Rooms #GoodBehavior


              //ranger6
              .itemText.col-4.grid-item
                .block
                  .categorie
                    span Twitter

                  p Last night at @Refinery29's #29rooms. Always so fun and tactile. Like a playground for grown up art lovers!

                  .author
                    span @BradWalsh
      section#artiste
        .container
          .inner_container.pt
            .block
              h1 in collaoration with
            .list
              ul.listartiste
                each val in ["Lady Gaga's Born This Way Foundation","Tinashe", "Rupaul","Adwoa Aboah","Nicola Formichetti","Abbi Jacobson","Tilt Brush by Google","Adrian Grenier + Lonely Whale Foundation","Brooklyn Balloon Company","Art Hoe Collective","Kate Moross","Baron Von Fancy","Killer Films Media","Daniel Rozin","Phhhoto","Radiant Human","Charlotte Simone","Ryan Burke","Chez Conversations","Sight Unseen x Bower","Flavor Paper","Signe Pierce","Eloise Corr Danch","The New Stand","Oddfellows","Mischa G"]
                  li: a(href='#')
                    span= val
      section#partner
        .container
          .inner_container.p
            h1 In Partnership With
            ul.partner_block
              li
                img(src='asset/images/ford.png')
              li
                img(src='asset/images/fossil.png')
              li
                img(src='asset/images/michael-kors.png')
              li
                img(src='asset/images/papyrus.png')
              li
                img(src='asset/images/perrier.png')
              li
                img(src='asset/images/ulta.png')
              li
                img(src='asset/images/born-this-way.png')
        footer
          .container
            .inner_container
              .title
                p #29Rooms
              .end_block
                .social_block

                  i(class="fa fa-facebook" aria-hidden="true")
                  i(class="fa fa-twitter" aria-hidden="true")
                  i(class="fa fa-instagram" aria-hidden="true")

                img(src='asset/images/refinery29-logo-mark.svg')
            .hand
            .girl
