doctype5
html
  head
    meta(charset='utf8')
    meta(author='dlanorlecram')
    link(href='css/master.css', rel='stylesheet')
    link(href='css/font-awesome/css/font-awesome.min.css', rel='stylesheet')
  body
    #wrappers
      section#intro
        nav
          .inner_nav
            .logo_container
              img(src='asset/images/refinery29-logo-mark.svg')
            .navbar
              ul#menu
                li intro
                li experiences
                li artiste
                li partner
            .social
              i.fa.fa-facebook
              i.fa.fa-twitter
        .container
          .inner_container
            .block_content
              .block_logo
                .logo
                img(src='asset/images/refinery29-logo-mark-b.svg')
              .block_title
                .rooms
              .block_playIt
                .illustration
                  img(src='asset/images/icon-video-circle.svg')
                .content
                  span  play video
              .next
                img(src='asset/images/arrow.svg')
      section#experiences
        .container
          .inner_container
            .top_block
              .left
                span Our World
              .right
                span Powered by You
            .middle_block
              .content
                h4 Thanks for joining us at our
                h1
                  |ART & FASHION
                  br
                  |FUNHOUSE
                p You came. You saw. You powered our dream world. Thank you for visiting 29Rooms — we still can't believe the turnout!
                span See you next time
            .bottom_block
              .left
                span Brooklyn, NY
              .right
                span Open to the Public
      section#artiste
      section#partner
        footer
