doctype5
html
  head
    meta(charset='utf8')
    meta(author='dlanorlecram')
    link(href='css/master.css', rel='stylesheet')
    link(href='css/font-awesome/css/font-awesome.min.css', rel='stylesheet')
  body
    #wrappers
      section#intro
        nav
          .inner_nav
            .logo_container
              img(src='asset/images/refinery29-logo-mark.svg')
            .navbar
              ul#menu
                li intro
                li experiences
                li artiste
                li partner
            .social
              i.fa.fa-facebook
              i.fa.fa-twitter
        .container
          .inner_container
            .block_content
              .block_logo
                .logo
                img(src='asset/images/refinery29-logo-mark-b.svg')
              .block_title
                .rooms
              .block_playIt
                .illustration
                  img(src='asset/images/icon-video-circle.svg')
                .content
                  span  play video
              .next
                img(src='asset/images/arrow.svg')
      section#experiences
        .space
        .container
          .inner_container
            .top_block
              .lt.left.upp
                span Our World
              .rt.right.upp
                span Powered by You
            .middle_block.center_block
              .content.center_text
                h4 Thanks for joining us at our
                h1.upp
                  |ART & FASHION
                  br
                  |FUNHOUSE
                p.upp You came. You saw. You powered our dream world. Thank you for visiting 29Rooms — we still can't believe the turnout!
                span.upp See you next time
            .bottom_block
              .lb.left.upp
                span Brooklyn, NY
              .rb.right.upp
                span Open to the Public
      section#experiences_true
        .container
          .inner_container
            .block_title_exp.center_text
              h1 29Rooms Experience
            .last_project
              .preview
            .gallery
              //ranger 1
              .itemIllustration
                .block_illus
                  .pic.p1
                  .link
                    .blleft
                      a(href='#') Instagram
                    .blright
                      span @rockienolan
                .block_desc
                  span Get your glow on in @radianthuman_ room heaven with Clue 27 #29Rooms

              .itemText
                .categorie
                  span Twitter

                p Last night at @Refinery29's #29rooms. Always so fun and tactile. Like a playground for grown up art lovers!

                .author
                  span @BradWalsh

              .itemIllustration
                .block_illus
                  .pic.p1
                  .link
                    .blleft
                      a(href='#') Instagram
                    .blright
                      span @rockienolan
                .block_desc
                  span Get your glow on in @radianthuman_ room heaven with Clue 27 #29Rooms
              //ranger 2
              .itemText
                .categorie
                  span Twitter

                p Last night at @Refinery29's #29rooms. Always so fun and tactile. Like a playground for grown up art lovers!

                .author
                  span @BradWalsh

              .itemIllustration
                .block_illus
                  .pic.p1
                  .link
                    .blleft
                      a(href='#') Instagram
                    .blright
                      span @rockienolan
                .block_desc
                  span Get your glow on in @radianthuman_ room heaven with Clue 27 #29Rooms

              .itemText
                  .categorie
                    span Twitter

                  p Last night at @Refinery29's #29rooms. Always so fun and tactile. Like a playground for grown up art lovers!

                  .author
                    span @BradWalsh

              //ranger3

              .itemIllustration
                .block_illus
                  .pic.p1
                  .link
                    .blleft
                      a(href='#') Instagram
                    .blright
                      span @rockienolan
                .block_desc
                  span Get your glow on in @radianthuman_ room heaven with Clue 27 #29Rooms

              .itemIllustration
                .block_illus
                  .pic.p1
                  .link
                    .blleft
                      a(href='#') Instagram
                    .blright
                      span @rockienolan
                .block_desc
                  span Get your glow on in @radianthuman_ room heaven with Clue 27 #29Rooms

              .itemText
                  .categorie
                    span Twitter

                  p Last night at @Refinery29's #29rooms. Always so fun and tactile. Like a playground for grown up art lovers!

                  .author
                    span @BradWalsh


              //ranger4
              .itemText
                  .categorie
                    span Twitter

                  p Last night at @Refinery29's #29rooms. Always so fun and tactile. Like a playground for grown up art lovers!

                  .author
                    span @BradWalsh

              .itemText
                  .categorie
                    span Twitter

                  p Last night at @Refinery29's #29rooms. Always so fun and tactile. Like a playground for grown up art lovers!

                  .author
                    span @BradWalsh
              //rangée5
              .itemIllustration
                .block_illus
                  .pic.p1
                  .link
                    .blleft
                      a(href='#') Instagram
                    .blright
                      span @rockienolan
                .block_desc
                  span Get your glow on in @radianthuman_ room heaven with Clue 27 #29Rooms

              //ranger5
              .itemIllustration
                  .block_illus
                    .pic.p1
                    .link
                      .blleft
                        a(href='#') Instagram
                      .blright
                        span @rockienolan
                  .block_desc
                    span Get your glow on in @radianthuman_ room heaven with Clue 27 #29Rooms
              .itemIllustration
                  .block_illus
                    .pic.p1
                    .link
                      .blleft
                        a(href='#') Instagram
                      .blright
                        span @rockienolan
                  .block_desc
                    span Get your glow on in @radianthuman_ room heaven with Clue 27 #29Rooms
              .itemIllustration
                  .block_illus
                    .pic.p1
                    .link
                      .blleft
                        a(href='#') Instagram
                      .blright
                        span @rockienolan
                  .block_desc
                    span Get your glow on in @radianthuman_ room heaven with Clue 27 #29Rooms

              //ranger6
              .itemText
                  .categorie
                    span Twitter

                  p Last night at @Refinery29's #29rooms. Always so fun and tactile. Like a playground for grown up art lovers!

                  .author
                    span @BradWalsh
      section#artiste
      section#partner
        .container
          .inner_container
            h1 In Partnership With
            .partner_block
              .block
                img
              .block
                img
              .block
                img
              .block
                img
              .block
                img
              .block
                img
        footer
          .container
            .title
              p #29Rooms
            .end_block
              social_block

                i("fa fa-facebook" aria-hidden="true")
                i(class="fa fa-twitter" aria-hidden="true")
                i(class="fa fa-instagram" aria-hidden="true")

              img(src='asset/images/refinery29-logo-mark.svg')
