doctype 5
html
  head
    meta(charset='utf8')
    meta(author='dlanorlecram')
    meta(description='reconstruction du site Big Cartel')
    script(src='../bower_components/jquery/dist/jquery.min.js')
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='../bower_components/vide/dist/jquery.vide.min.js')
    script(src='js/script.js')
    //script(src='js/scroll.js')
    link( href='css/master.css' rel='stylesheet' type='text/css')

  body
    #page
      header
        .row
          .inner.col-10.col-offset-1
            nav
              .logo_nav(data-blockfixed='false')
                //- ici svg
              .navbar
                ul
                  li: a(href='#tour') Tour
                  li: a(href='#test') Examples
                  li: a(href='#re') Pricing & Sign Up
                ul
                  li: a(href='#') Login
                  li: a(href='#') Help
                  li: a(href='#') Blog
      .container_intro
        .row
          .content_intro.col-10.col-offset-1
            .screen
              .font
                .slogan.we-believe
              p Join nearly a million makers, designers, musicians, and other artists using Big Cartel to build a unique online store and run a creative business.
              .play
                svg(class="play-button play-button-small" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50px" height="50px")
                  path(fill="#FFFFFF" d="M25,2c12.7,0,23,10.3,23,23S37.7,48,25,48S2,37.7,2,25S12.3,2,25,2 M25,0C11.2,0,0,11.2,0,25s11.2,25,25,25s25-11.2,25-25S38.8,0,25,0L25,0z")
                  path(fill="#FFFFFF" d="M21,33c-0.2,0-0.3,0-0.5-0.1C20.2,32.7,20,32.4,20,32V18c0-0.4,0.2-0.7,0.5-0.9s0.7-0.2,1,0l12,7c0.3,0.2,0.5,0.5,0.5,0.9s-0.2,0.7-0.5,0.9l-12,7C21.3,33,21.2,33,21,33z M22,19.7v10.5l9-5.3L22,19.7z")
                //svg(class="loading" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54")
                  path(fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M27.1,3c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24c0-10.5-6.7-19.4-16.1-22.7")

      #tour.container_tour
        .row
          .tour.part1.col-10.col-offset-1
            .screen
              .content
                .tab
                  span tour
                h2 Built for makers
                p For over a decade, creative people from around the world have used Big Cartel’s simple tools and resources to build a unique online store, manage and sell their work, delight their fans and customers, and run their business their own way.
                .picture
                  .block_img.a
                  .source
                    span site:
                      a(href='#') melanie arbantes

              .content
                h2 Get down to business
                p We get it, you’re busy – so we keep it simple. We provide just the right mix of real-time stats, search engine optimization, order management, and promotional tools to get a small shop up and running with as little stress as possible.
                .picture
                  .block_img.b
                  .source
                    span site:
                      a(href='#') Swinj
        .module_image.biker
          .inner_container
            .font
              .slogan.independent
        .row
          .tour.part2.col-10.col-offset-1
            .screen
              .content
                h2 Get down to business
                p We get it, you’re busy – so we keep it simple. We provide just the right mix of real-time stats, search engine optimization, order management, and promotional tools to get a small shop up and running with as little stress as possible.
                .picture
                  .block_img.c
                  .source
                    span site:
                      a(href='#') fuzzco
              .content
                h2 Your shop, anywhere
                p Hit the road and take your shop with you. Our mobile-friendly site makes it easy to manage your shop from any phone or tablet, and our app for iPhone and iPad goes a step further to handle in-person sales at craft fairs, concerts, and other live events.
                .picture
                  .block_img.d
                  .source
                    span site:
                      a(href='#') annie davidson
        .module_image.painter
          .inner_container
            button(href='#') Open your shop
          footer.row
            .col-10.col-offset-1.center-footer
              .screen.bfooter
                .block_logo_footer.col-6
                  img(src='asset/images/brand.svg')
                .navbar_footer.col-6
                  ul#menulink
                    li: a(href='#') Tour
                    li: a(href='#') Sing Up
                    li: a(href='#') Log In

                  ul#assitance
                    li: a(href='#') Team
                    li: a(href='#') Blog
                    li: a(href='#') Help

                  .mention
                    .copyright
                      span © 2016 Big Cartel, LLC |
                    .mention_legal
                      span: a(href='#') Legal
